/*

	# Company: Centrumpraktijk
	# File: layout.css

*/

/* 

	** Layout :: Core

*/

.layout

{

	width: 1200px;

	height: 800px;

	margin: 0 auto;

	

	background-image: url(../images/screen-bg.jpg);

	

	font-size: 0.7em;

}



.header

{

	position: relative;

	height: 100px;

	margin-left: 11px;

	border-bottom: 2px solid #006666;

}


/* Menu */

#menu {
	float: left;
}

#menu ul {
	margin-top: 10px;
	padding:  0 0 0 0 ;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	padding: 0 0 0 92px ;
}

#menu a:hover {
	text-decoration: none;
}

#menu .active a {
}


.global-nav

{

	float: left;

	width: 220px;
	width: 172px;

	

	color: #003333;

	font-size: .8em;

}



.screen

{	

	height: 612px;

	margin-left: 11px;
	

	border-bottom: 2px solid #006666;

	

	font-size: 1.2em;

}



.content

{
	float: right;
	width: 900px;

	margin-left: 60px;
	margin-right: 25px;

}



.scroll

{

	height: 500px;

	padding-right: 20px;

	padding-top: 20px;

	overflow: auto;

}


.roll

{

	height: 175px;

	padding-right: 20px;

	padding-top: 20px;

	overflow: auto;

}


.footer

{

	position: relative;

	clear: both;

	height: 1%;

	padding: 10px 35px 0 220px;	

	color: #292218;

	font-size: 1.4em;

}







/* 

	** Layout :: Structure Specifics

*/

.header .symbol

{

	margin: 26px 15px;

}

.header .other

{

	margin: 35px 30px;

}

.header .logo

{

	float: left;

	margin: 55px 0 0;

}



.header #newsTicker

{

	position: absolute;

	top: 32px;

	left: 70px;

	

	width: 213px;

	width: 370px;

	margin: 0;

	padding: 10px;

	

	background-image: url(../images/newsticker-bg.jpg);

	background-repeat: no-repeat;

	

	color: #ffcc00;

	font-size: 120%;

	list-style-type: none;

}

.header #newsTicker li

{

	margin: 0;

	padding: 0;

	display: none;

}



.global-nav p

{

	padding: 0px 10px 0px 20px;

	

	font-weight: bold;

}



.footer ul.split

{

	margin-bottom: 10px;

	list-style-type: none;

	color: #339999;

	font-size: .6em

}

.footer ul.split li

{

	float: left;

	margin: 0;

	white-space: nowrap;

	padding-left: 10px;

}

.footer a:link,

.footer a:visited

{

	color: #d3d3d3;

	text-decoration: none;

}

.footer .symbol

{

	position: absolute;

	top: 19px;

	left: 62px;

}





/*

	* Homepage Layout

*/

#homepage

{

	background-image: url(../images/homepage-bg.jpg);

}


#homepage .content

{
	float: right;
	width: 750px;

	margin-left: 5px;
	margin-right: 200px;

	

	background-image: url(../images/photostrip.jpg);

	background-repeat: repeat-y;

	background-position: 100% 0%;

}

#homepage .content p

{

	padding-right: 40px;

}

#homepage h1

{

	margin-top: 0;

	padding-top: 10px;

	padding-right: 39px;

	padding-bottom: 0;

}

#homepage h1 embed,

#homepage h1 object

{

	width: 650px !important;
	width: 610px;

	height: 78px;

	margin-bottom: -8px;

}