<div class="row">
    <div class="col-md-6">
        {% include 'Admin/Page/Blocks/pageContentRelationsSelect.html.twig' with {'position': '0', 'location': 'links' } %}
        {% include 'Admin/Page/Blocks/pageContentRelationsSelect.html.twig' with {'position': '1', 'location': 'links' } %}
    </div>
    <div class="col-md-6">
        {% include 'Admin/Page/Blocks/pageContentRelationsSelect.html.twig' with {'position': '0', 'location': 'rechts' } %}
        {% include 'Admin/Page/Blocks/pageContentRelationsSelect.html.twig' with {'position': '1', 'location': 'rechts' } %}
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        {% include 'Admin/Page/Blocks/pageContentRelationsSelect.html.twig' with {'position': '0', 'location': 'rijboven' } %}
    </div>
    <div class="col-md-3">
        {% include 'Admin/Page/Blocks/pageContentRelationsSelect.html.twig' with {'position': '1', 'location': 'rijboven' } %}
    </div>
    <div class="col-md-3">
        {% include 'Admin/Page/Blocks/pageContentRelationsSelect.html.twig' with {'position': '2', 'location': 'rijboven' } %}
    </div>
    <div class="col-md-3">
        {% include 'Admin/Page/Blocks/pageContentRelationsSelect.html.twig' with {'position': '3', 'location': 'rijboven' } %}
    </div>
    <div class="col-md-3">
        {% include 'Admin/Page/Blocks/pageContentRelationsSelect.html.twig' with {'position': '0', 'location': 'rijonder' } %}
    </div>
    <div class="col-md-3">
        {% include 'Admin/Page/Blocks/pageContentRelationsSelect.html.twig' with {'position': '1', 'location': 'rijonder' } %}
    </div>
    <div class="col-md-3">
        {% include 'Admin/Page/Blocks/pageContentRelationsSelect.html.twig' with {'position': '2', 'location': 'rijonder' } %}
    </div>
    <div class="col-md-3">
        {% include 'Admin/Page/Blocks/pageContentRelationsSelect.html.twig' with {'position': '3', 'location': 'rijonder' } %}
    </div>
</div>

