
<div class="container">
    <div class="row">
        <div class="block-square">
            <div class="row" style="margin-left:0; margin-right: 0">
                <h5 class="col-xs-12 col-sm-4 text-left">
                    Aazaa Academie
                </h5>
                <h5 class="col-xs-12 col-sm-4 text-center">
                    Email: info@aazaa.org
                </h5>
                <h5 class="col-xs-12 col-sm-4 text-right">
                    Tel: +31 (0) 62 66 22 444
                </h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="footer-img">
            <img src="{{ asset('images/copyright.png') }}" class="img-responsive copyright-image">
        </div>
        <div class="footer-text">
            {{ collectorFooter | raw }}
        </div>
    </div>
</div>