	body
	{
		min-width: 1200px;
	}
	

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		height: 10em;
		width: 100%;
	}

		body.homepage #header-wrapper
		{
			height: 11em;
		  width: 100%;
		}
	
	#banner-wrapper
	{
	}
	
	#main-wrapper
	{
	}

		#main-wrapper .main-wrapper-style1,
		#main-wrapper .main-wrapper-style2,
		#main-wrapper .main-wrapper-style3
		{
			padding: 1em 0 1em 0;
		}
	
	#footer-wrapper
	{
		padding: 1em 0 1em 0;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		border-radius: 10px;
		padding: 0.5em;
		width: 100%;
	}

		#header .inner
		{
			position: relative;
			height: 5em;
		  width: 100%;
			background-image: -moz-linear-gradient(top, rgba(255,203,0,1), rgba(255,203,0,1));
			background-image: -webkit-linear-gradient(top, rgba(255,203,0,1), rgba(255,203,0,1));
			background-image: -o-linear-gradient(top, rgba(255,203,0,1), rgba(255,203,0,1));
			background-image: -ms-linear-gradient(top, rgba(255,203,0,1), rgba(255,203,0,1));
			background-image: linear-gradient(top, rgba(255,203,0,1), rgba(255,203,0,1));
			border: 2px solid;
		  border-radius: 20px;
			border-color: #51201b;
			box-shadow: inset 0px 0px 0px 0px rgba(081,037,022,0.9), inset 0px 6px 0px 0px rgba(081,037,022,0.9);
		}
	
		#header h1
		{
			position: absolute;
			left: 1.75em;
			margin-top: -0.65em;
			font-size: 3em;
			color: #51201b;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		position: absolute;
		right: 2em;
		top: 0;
		line-height: 5.5em;
	}
	
		#nav > ul > li
		{
			float: left;
			padding: 0 0.8em 0 0.8em;
		}
		
			#nav > ul > li > a,
			#nav > ul > li > span
			{
				color: #51201b;
				font-weight: 900;
				font-size: 1em;
				letter-spacing: 0.1em;
				padding: 0.6em 1em 0.6em 1em;
				border: 2px solid #51201b;
		    border-radius: 10px;
			  box-shadow: inset 0px 0px 0px 0px rgba(081,037,022,0.9), inset 0px 0px 15px 0px rgba(081,037,022,0.9);
			}

				#nav > ul > li.active > a,
				#nav > ul > li.current_page_item > a,
				#nav > ul > li.active > span,
				#nav > ul > li.current_page_item > span
				{
					

			#nav > ul > li:last-child
			{
				padding-right: 0;
			}

		#nav > ul > li > ul
		{
			display: none;
		}

	.dropotron
	{
		position: relative;
		
			background-image: -moz-linear-gradient(top, rgba(255,203,0,1), rgba(255,203,0,1));
			background-image: -webkit-linear-gradient(top, rgba(255,203,0,1), rgba(255,203,0,1));
			background-image: -o-linear-gradient(top, rgba(255,203,0,1), rgba(255,203,0,1));
			background-image: -ms-linear-gradient(top, rgba(255,203,0,1), rgba(255,203,0,1));
			background-image: linear-gradient(top, rgba(255,203,0,1), rgba(255,203,0,1));
			border: 3px solid;
		  border-radius: 20px;
			border-color: #51201b;
			box-shadow: inset 0px 0px 0px 0px rgba(081,037,022,0.9), inset 0px 5px 0px 0px rgba(081,037,022,0.9);
		padding: 1.5em;
		line-height: 2.5em;
		min-width: 15em;
	}

		.dropotron.level-0
		{
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			margin-top: -2px;
		}
		
		.dropotron a,
		.dropotron span
		{
			color: #ffca00;
			text-decoration: none;
			font-weight: 800;
			font-size: 1.2em;
			letter-spacing: 0.075em;
			outline: 0;
		}
		
		.dropotron li:hover > a,
		.dropotron li:hover > span
		{
			color: #ffca00;
		}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		width:100%;
		margin: 0 auto;
		padding: 2em 0 0 0;
		overflow: hidden;
	}
	
		#banner h2
		{
		}
		
		#banner p
		{
			float: left;
			text-align: right;
			width: 60%;
			line-height: 1.5em;
		}

/*********************************************************************************/
/* Videocontent                                                                     */
/*********************************************************************************/

	#videocontent
	{
		width:70%;
		max-width:800px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	}